.msg-2 {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    background-image:linear-gradient(to right, #043952eb,#026fbd8c);
}
.msg-3 {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    background-image: linear-gradient(to right,#026fbd8c, #043952eb);
}
.msg-1 {
    height: 50vh;
    background-image: url('../utils/images/hands_2.jpg');
  /*  filter: blur(8px);
  -webkit-filter: blur(8px);*/
    background-size: cover;
    
}
.inner-div{
    padding: 5% 5%;
    text-align: center;
    line-height: 3em;
}
.img {
    width: 30%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 37%);
}
.txt {
    font-style: italic;
    color: floralwhite;
    font-size: 1.6em;
   font-weight: 400;
}
.txt-small{
    font-style: italic;
    color: floralwhite;
    font-size: 1.3em;
   font-weight: 400;
}
.div-section{
    width : 50%;
}
.div-section1{
    width : 51%;
    text-align: left;
}
.div-section2{
    width : 51%;
    text-align: right;
}
.title{
    
    font-size: 1.8em;
    letter-spacing: 0.3em;
    font-weight: 400;
    animation: change 2s step-end infinite;
    
}
.title-main{
    letter-spacing: 0.3em;
    font-size: 1.8em;
    font-weight: bold;
    padding: 15px;
    
   /* background: linear-gradient(to right, #f9cc29 0%, #c30404d9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
    animation: change 2s step-end infinite;
    
}
.line {
    border: 1px solid #ffb020;
    width: 100%;
    margin: 3% 0px;
    
}
.credit {
   
    color: #ffb020;
    font-size: 0.8em;
    align-items: center;
    background-color: #6f6d6d;
}
.link {
    color: #ffb020;
    text-decoration: underline;
    font-style: italic;
    font-size: 1.5em;
}
.loc-icon {
    color: #ffb020 !important;
    font-size: 1.3em !important; 
}
.flex-style {
    display: flex;
    align-items: center;
    background-color: #6f6d6d;
}


  @keyframes change {
    0% {
      color: #f9cc29
    }
    25% {
      color: rgb(214, 140, 3)
    }
    50% {
      color: #090353d9
    }
    75% {
      color: rgb(155, 15, 5)
    }
  }
@media only screen and (max-width: 640px){
    .msg-1 {
        background-image: url('../utils/images/heart1.jpg');
        height: 40vh;
    }
    .img {
        width: 40%;
    }
    .txt {
        font-size: 1em;
    }
    .txt-small{
        font-size: 0.8em;
    }
    .link {
        font-size: 1em;
    }
    .loc-icon {
        font-size: 0.8em !important;
    }
    .msg-2{
        height: 40vh;
    }
    .msg-3 {
        height: 40vh;
    }
    .title{
        font-size: 1.1em;
    }
    .title-main{
        font-size: 1.1em;
    }
    .credit {
        font-size: 0.7em;
    }
    
}
@media only screen and (max-width: 500px){
.inner-div {
    padding: 30% 5%;
    line-height: 2em;

}
}