.msg-2 {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    background-image:linear-gradient(to right, #043952eb,#033a615e);
}
.msg-3 {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    background-image: linear-gradient(to right,#033a615e, #043952eb);
}
.msg-1 {
    height: 50vh;
    background-color: antiquewhite;
    background-image: url('../utils/images/hands_2.jpg');
    
    background-size: cover;
    
}
.inner-div{
    padding: 5% 5%;
    text-align: center;
    line-height: 3em;
}
.img {
    width: 30%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 37%);
}
.txt {
    font-style: italic;
    color: floralwhite;
    font-size: 1.8em;
   font-weight: 400;
}
.txt-small{
    font-style: italic;
    color: floralwhite;
    font-size: 1.3em;
   font-weight: 400;
}
.div-section{
    width : 50%;
}
.div-section1{
    width : 51%;
    text-align: left;
}
.div-section2{
    width : 51%;
    text-align: right;
}
.title{
    color: floralwhite;
    font-size: 2em;
    letter-spacing: 0.3em;
    font-weight: 400;
}
.line {
    border: 1px solid #ffb020;
    width: 100%;
    margin: 3% 0px;
}
.credit {
   
    color: #ffb020;
    font-size: 0.8em;
    align-items: center;
    background-color: #6f6d6d;
}
.link {
    color: #ffb020;
    text-decoration: underline;
    font-style: italic;
    font-size: 1.3em;
}
.loc-icon {
    color: #ffb020 !important;
    font-size: 1.3em !important; 
}
.flex-style {
    display: flex;
    align-items: center;
    background-color: #6f6d6d;
}
@media only screen and (max-width: 740px){
    .msg-1 {
        background-image: url('../utils/images/heart1.jpg');
        height: 40vh;
    }
    .img {
        width: 40%;
    }
    .txt {
        font-size: 1em;
    }
    .txt-small{
        font-size: 0.8em;
    }
    .link {
        font-size: 0.8em;
    }
    .loc-icon {
        font-size: 0.8em !important;
    }
    .msg-2{
        height: 40vh;
    }
    .msg-3 {
        height: 40vh;
    }
    .title{
        font-size: 1.1em;
    }
    .credit {
        font-size: 0.7em;
    }
    .inner-div {
        padding: 15% 5%;
        line-height: 2em;

    }
}